/* CONTAINER */

.genre-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 60px;
}

.genre-container .genre-btn {
    border: 1px solid gainsboro;
    background-color: #b3c7d3;
    padding: 15px;
    border-radius: 15px;
    color: #1e1e1e;
    font-size: 22px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    cursor: pointer;
    transition: 0.2s ease;
}

.genre-container .genre-btn:hover {
    background-color: #a9bfcf;
}